# Auto detect text files and perform LF normalization
* text=auto

# Define specific file formats to preserve line endings
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf
